/*this is the css for about half of the files created here
Created by Jake Schouten 
April 2024 
*/
#returnUser {
  text-align: center;
  border-radius: 25px;
  background: rgb(213, 226, 194);
  padding: 20px;
  width: 20%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 65%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#newUSer {
  text-align: center;
  border-radius: 25px;
  background: rgb(213, 226, 194);
  padding: 20px;
  width: 20%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 35%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#title {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
}
body {
  background-color: beige;
}
/* main button layout I want */
#rules, #deal, #home, #hit, #stand, #split, #double, #data, #check  {
  text-align: center;
  border-radius: 25px;
  background: rgb(213, 226, 194);
  padding: 20px;
  width: 20%;
  height: 20%;
  margin: 25px;

}
#game{
  text-align: center;
  border-radius: 25px;
  background: rgb(213, 226, 194);
  padding: 20px;
  padding-top: 20px;
  width: 20%;
  height: 20%;

}
#scores {
  position: absolute;
  right: 150px;
}

